<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../public/stylesheets/normalize.css">
	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<style>
		form{ width: 500px; display: block; margin: 30px auto; }
		.form-horizontal .form-group{
			margin-left: 0; margin-right: 0;
		}
	</style>
</head>
<body>
	<form role='form' class="form-horizontal">	
		<div class="form-group">
		    <label for="name"> 名字</label>
	         <input type="text" class="form-control" id="name" placeholder="请输入名字" name='name'>
       	</div>
       	<div class="form-group">
		    <label for="age"> 年龄</label>
	         <input type="text" class="form-control" id="age" placeholder="请输入年龄" name='age'>
       	</div>
       	<button type="button" class="btn-primary btn btn-block">提交</button>
	</form>

</body>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
	$(function  () {
		$('button').on('click', function() {
			// $.ajax({
			// 	url: 'http://localhost:3000/yes',
			// 	data: $('form').serialize(),
			// 	type: 'post',
			// 	// datatype: 'jsonp',
			// 	// jsonp: 'jsoncallback',
			// 	success: data => {
			// 		console.log(data)
			// 	},
			// 	error: err => {
			// 		console.log(err);
			// 	}
			// })
			$.getJSON('http://localhost:3000/yes', JSON.stringify($('form').serialize()), function(json, textStatus) {
				console.log(json)
				$.each(json, (index,ele) => {
					console.log(index);
					console.log(ele);
				})
			});
		})
	})
</script>
</html>